@model InsecureWebsite.Models.Congrats
<h1>Congrats user!</h1>
<p>You can procede to the next level!</p>
<p>@Model.Instructions</p>
<script>
    localStorage.setItem(@Model.Level,"Success");
</script>
<a asp-controller="Hub" asp-action="Index">Return home</a>

@if(Model.NextLevel)
{
    <div class="text-center mt-3">
        <a asp-controller=@Model.NextLevelController asp-action=@Model.Level class="btn btn-primary">Go to Level @Model.NextLevelController</a>
    </div>
}

