@model InsecureWebsite.Models.Username
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    <h1>Thanks, @Model.Name!</h1>
    <a asp-controller="Hub" asp-action="Index" class="btn btn-secondary mt-3">Back to Hub</a>
</div>
