@model Username
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <div class = "text-center">
        <p>Please Login.</p>
    </div>
    <form asp-action="Login" method="post">
        <p>
            <label asp-for="Name">Username:</label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for ="Password">Enter your password</label>
            <input asp-for="Password" />
        </p>
        <button type="submit">Login</button>
        
    </form>

</body>

</html>

